#adoption {
  padding-inline: var(--content-padding);
  padding-block: 80px 120px;
  display: grid;
  gap: 24px 40px;
  grid:
    "a a" min-content
    "b c" 1fr / 1fr 1fr;
}

#adoption > h2 {
  grid-area: a;
  color: var(--black);
}

#adoption-photos {
  block-size: 616px;
  position: relative;
}

#adoption-photos > * {
  position: absolute;
}

#adoption-dog {
  background-color: var(--purple);
  border-radius: 600px;
  inline-size: 377px;
  block-size: 584px;
  overflow: hidden;
  inset-inline-end: 100px;
  inset-block-start: 16px;
}

#adoption-dog > img {
  position: absolute;
  block-size: 110%;
  inset-block-start: 80px;
  inset-inline-end: 50px;
  transform: scaleX(-1);
}

#adoption-cat {
  inline-size: 268px;
  block-size: 268px;
  overflow: hidden;
  border-radius: 10% 50% 50% 50%;
  inset-inline-end: 20px;
  inset-block-start: 330px;
  border: 6px solid var(--gray-light);
  background-color: var(--yellow-dark);
}

#adoption-cat > img {
  position: absolute;
  inset-block-end: 0px;
  inline-size: 90%;
}

#adoption-bone {
  inset-inline-end: 420px;
  inset-block-start: 25px;
}

#adoption-collar {
  inset-inline-end: 210px;
  inset-block-start: 275px;
  transform: scaleX(-1);
}

#adoption > section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

#adoption > section > h3 {
  color: var(--black);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.64px;
}

#adoption > section > ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--gray-dark);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 160%;
}

#adoption > section li {
  display: list-item;
  margin-block-end: 15px;
}

#adoption button {
  margin-block-start: 12px;
  background-color: var(--black);
  color: var(--white);
  line-height: 28px;
}

@media (max-width: 430px) {
  #adoption {
    grid: "a" "b" "c";
  }

  #adoption section:nth-of-type(2) {
    margin-inline-start: 32px;
  }

  #adoption button {
    margin-inline-start: -32px;
  }

  #adoption-photos {
    place-self: end;
    margin-block-start: 16px;
    grid-area: c;
    transform: scaleX(0.7); /* my animals... squished :( */
  }
}
