#landing {
  display: flex;
  padding-block: 80px 120px;
  padding-inline: 7.67vi;
  gap: 2.64vi;
}

#landing-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

#landing-info > :is(h1, p) {
  margin: 0;
}

#landing-info > h1 {
  font-family: Poppins, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.28px;
  max-inline-size: 500px;
}

#landing-info > p {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 160%;
}

#landing-info > em {
  margin-block-start: 24px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.64px;
}

#landing-info > nav > ul {
  display: flex;
  gap: 32px;
}

#landing-adopt {
  border: 2px solid var(--black);
}

#landing-photos {
  flex: 1;
  position: relative;
  block-size: 616px;
}

#landing-photos > * {
  position: absolute;
}

#landing-cat {
  inline-size: 377px;
  block-size: 100%;
  border-radius: 600px;
  background-color: var(--yellow-dark);
  inset-inline-start: 190px;
  overflow: hidden;
}

#landing-cat > img {
  position: absolute;
  transform: scaleX(-1);
  inset-inline-end: 0;
  inset-block-end: -20px;
}

#landing-dog {
  inline-size: 268px;
  block-size: 268px;
  background-color: var(--purple);
  border-radius: 24px 134px 134px 134px;
  border: 6px solid var(--gray-light);
  overflow: hidden;
  inset-inline-start: 45px;
  inset-block-end: 0px;
}

#landing-dog > img {
  position: absolute;
  inline-size: 100%;
  inset-inline-start: -10%;
  inset-block-start: 15%;
}

#landing-house {
  inset-inline-start: 20px;
  inset-block-start: 35px;
}

#landing-collar {
  inset-inline-start: 310px;
  inset-block-end: 55px;
}

#accomplishments {
  padding-inline: 7.67vi;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 80px;
  gap: 80px;
}

#accomplishments > h2 {
  color: var(--white);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.12px;
  max-inline-size: 800px;
}

#accomplishments > dl {
  display: grid;
  gap: 20px 40px;
  inline-size: 1200px;
  grid: repeat(2, 1fr) / repeat(3, 1fr);
  margin: 0;
}

#accomplishments dt {
  grid-row: 2;
  color: var(--white);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.64px;
}

#accomplishments dd {
  color: var(--yellow);
  margin: 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.28px;
}

#carousel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-inline-size: 1200px;
  gap: 60px 22px;
  overflow: hidden;
}

.carousel-arrow {
  display: flex;
  block-size: 45px;
  inline-size: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--gray-light);
}

.carousel-arrow > img {
  block-size: 24px;
}

#carousel ul {
  display: flex;
  inline-size: 1066px;
  overflow: hidden;
  gap: 22px;
}

#carousel ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  min-inline-size: 250px;
  block-size: 250px;
  overflow: hidden;
  inline-size: 250px;
}

#carousel ul li img {
  block-size: 90%;
}

#carousel ul > :nth-child(5n + 1) {
  background-color: var(--yellow-dark);
  border-radius: 10%;
}

#carousel ul > :nth-child(5n + 2) {
  background-color: var(--green);
  border-radius: 10% 50% 50% 50%;
  justify-content: start;
}

#carousel ul > :nth-child(5n + 3) {
  background-color: var(--white);
  border-radius: 10%;
}

#carousel ul > :nth-child(5n + 4) {
  background-color: var(--purple);
  border-radius: 50% 10% 50% 50%;
}

#carousel ul > :nth-child(5n) > img {
  block-size: 250px;
}

#carousel-dots {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-basis: 100%;
}

#carousel-dots > div {
  block-size: 16px;
  inline-size: 16px;
  border-radius: 50%;
  background-color: var(--transparent-min);
}

#services {
  padding-inline: 7.67vi;
  padding-block: 80px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background-color: var(--black);
}

#services > h2 {
  color: var(--white);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.12px;
}

#services > ul {
  display: grid;
  grid: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 60px 40px;
}

#services li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 36px;
  padding-block: 50px 36px;
  inline-size: 376px;
  border-radius: 24px;
  border: 2px solid var(--white);
}

#services h3 {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.64px;
}

#services p {
  color: var(--transparent-max, rgba(255, 255, 255, 0.8));
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
}

#adoption {
  padding-inline: 7.67vi;
  padding-block: 80px 120px;
  display: grid;
  gap: 24px 40px;
  grid:
    "a a" min-content
    "b c" 1fr / 1fr 1fr;
}

#adoption > h2 {
  grid-area: a;
  text-align: center;
  color: var(--black);
  font-family: Poppins, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.12px;
}

#adoption-photos {
  block-size: 616px;
  position: relative;
}

#adoption-photos > * {
  position: absolute;
}

#adoption-dog {
  background-color: var(--purple);
  border-radius: 600px;
  inline-size: 377px;
  block-size: 584px;
  overflow: hidden;
  inset-inline-end: 100px;
  inset-block-start: 16px;
}

#adoption-dog > img {
  position: absolute;
  block-size: 110%;
  inset-block-start: 80px;
  inset-inline-end: 50px;
  transform: scaleX(-1);
}

#adoption-cat {
  inline-size: 268px;
  block-size: 268px;
  overflow: hidden;
  border-radius: 10% 50% 50% 50%;
  inset-inline-end: 20px;
  inset-block-start: 330px;
  border: 6px solid var(--gray-light);
  background-color: var(--yellow-dark);
}

#adoption-cat > img {
  position: absolute;
  inset-block-end: 0px;
  inline-size: 90%;
}

#adoption-bone {
  inset-inline-end: 420px;
  inset-block-start: 25px;
}

#adoption-collar {
  inset-inline-end: 210px;
  inset-block-start: 275px;
  transform: scaleX(-1);
}

#adoption > section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

#adoption > section > h3 {
  color: var(--black);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.64px;
}

#adoption > section > ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--gray-dark);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 160%;
}

#adoption > section li {
  display: list-item;
  margin-block-end: 15px;
}

#adoption button {
  background-color: var(--black);
  color: var(--white);
  line-height: 28px;
}

#difference {
  padding-inline: 7.67vi;
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  background-color: var(--black);
}

#difference header {
  display: flex;
  gap: 80px;
}

#difference header img:nth-of-type(2) {
  transform: scaleX(-1);
}

#difference h2 {
  inline-size: 550px;
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.12px;
}

#difference ul {
  display: flex;
  gap: 40px;
}

#difference li {
  inline-size: 276px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 24px;
  padding-block: 48px;
  gap: 48px;
  border-radius: 24px;
  border: 2px solid var(--white);
}

#difference hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#difference h3 {
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.48px;
}

#difference p {
  color: var(--transparent-max);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
}

#difference a {
  inline-size: 100%;
  padding-inline: 24px;
  padding-block: 16px;
  color: var(--black);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  border-radius: 16px;
}

#difference li:nth-of-type(1) > a {
  background-color: var(--green);
}

#difference li:nth-of-type(2) > a {
  background-color: var(--yellow-dark);
}

#difference li:nth-of-type(3) > a {
  color: var(--white);
  background-color: var(--pink);
}

#difference li:nth-of-type(4) > a {
  color: var(--white);
  background-color: var(--purple);
}

#adoptables {
  background-color: var(--black);
  display: flex;
  padding-block: 80px 120px;
  justify-content: center;
  overflow: hidden;
  align-items: stretch;
}

#adoptables :is(header, hgroup) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#adoptables header {
  gap: 40px;
}

#adoptables hgroup {
  gap: 60px;
}

#adoptables h2 {
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.12px;
}

#adoptables em {
  font-style: normal;
  color: var(--yellow);
}

#adoptables p {
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.64px;
}

#adoptables ul {
  display: flex;
  gap: 24px;
}

#adoptables a {
  background-color: var(--yellow);
}

#adoptables button {
  color: var(--white);
  border: 2px solid var(--white);
}

#adoptables > div {
  position: relative;
  display: flex;
  flex-direction: column;
  inset-block-end: -120px;
  inline-size: 300px;
}

#adoptables > div:nth-of-type(1) {
  order: -1;
}

#adoptables-fish {
  block-size: 65px;
  position: absolute;
  inset-inline-end: 45px;
  inset-block-start: -115px;
}

#adoptables-cat {
  position: absolute;
  inset-block-end: 0px;
}

#adoptables-bone {
  block-size: 80px;
  inset-inline-start: 45px;
  inset-block-start: -115px;
  position: absolute;
}

#adoptables-dog {
  position: absolute;
  inline-size: 300px;
  inset-block-end: -50px;
  transform: scaleX(-1);
}

#newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--purple);
  padding-inline: 7.67vi;
  padding-block: 80px;
  gap: 60px;
}

#newsletter hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#newsletter h2 {
  color: var(--white);
  text-align: center;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.12px;
}

#newsletter hgroup p {
  color: var(--transparent-max);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  max-inline-size: 750px;
}

#newsletter form {
  display: flex;
  gap: 24px;
  justify-content: center;
}

#newsletter form p input {
  padding-block: 16px;
  padding-inline: 24px;
  block-size: 64px;
  inline-size: 400px;
  border-radius: 32px;
  border: 2px solid var(--white);
}

#newsletter form p input,
#newsletter form p input::placeholder {
  color: var(--transparent-middle);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

#newsletter form > input {
  background-color: var(--white);
}
